header {
  position: relative;
  background-color: #8F13D8;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  margin-top: 35px;
  position: relative;
  z-index: 2;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url(../content/images/meetups/purple/5by7/18.jpg) #8F13D8 no-repeat center center/150vh scroll;
  }
  header video {
    display: none;
  }
}

@media (max-width: 768px) {
  h1.challenge {
    font-size: 1.35rem;
  }
}
