---
title: About
---

<!-- Header -->
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/content/videos/talk2.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1>Helping communities through service</h1>
      </div>
    </div>
  </div>
</header>

<!-- Mission -->
<section id="mission">
  <div class="container">
    <div class="row section-header d-flex justify-content-center">
      <div class="col-lg-6 text-center">
        <h1>Our mission</h1>
        <p class="text-muted pt-4">We are a community of passionate software developers that provide support, mentorship, and exposure to in-demand technologies and careers for adults from underrepresented groups or those making career transitions starting their tech journey.
        </p>
      </div>
    </div>
    <div class="row py-5 d-flex align-items-center justify-content-center">
      <div class="col-md-4 mr-lg-4 order-2 order-md-1 text-center text-md-left">
        <h1 class="text-primary">Support</h1>
        <p class="text-muted pt-2">It goes without saying, but it should be no surprise that our world and pockets of society have not always treated people fairly. No matter a person's gender, color, creed or situation, we want to empower the tech industry to serve and be led by all people.</p>
      </div>
      <div class="col-md-6 order-1 order-md-2">
        <img src="/content/images/meetups/color/5by7/8.jpg" class="img-fluid mb-4 mb-md-0 rounded" alt="Attendee examining laptop with mentor">
      </div>
    </div>
    <div class="row py-5 d-flex align-items-center justify-content-center">
      <div class="col-md-6">
        <img src="/content/images/meetups/color/5by7/20a.jpg" class="img-fluid mb-4 mb-md-0 rounded" alt="Attendees having a good time at two tables">
      </div>
      <div class="col-md-4 ml-md-4 text-center text-md-left">
        <h1 class="text-primary">Mentorship</h1>
        <p class="text-muted pt-2">Whether through mentorship at one of our meetups or a conversation through our online chat community, we think people deserve free, no-strings-attached assistance.</p>
      </div>
    </div>
    <div class="row py-5 d-flex align-items-center justify-content-center">
      <div class="col-md-4 mr-md-4 order-2 order-md-1 text-center text-md-left">
        <h1 class="text-primary">Exposure</h1>
        <p class="text-muted pt-2">When diving into a new trade and industry, it's incredibly hard to know where to go or who to talk with to get help. We take great pride in directing people to a next step that fits within their schedule and won't break the bank.</p>
      </div>
      <div class="col-md-6 order-1 order-md-2">
        <img src="/content/images/meetups/color/5by7/14.jpg" class="img-fluid mb-4 mb-md-0 rounded" alt="Attendees standing for group photo">
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row mb-md-5 pb-5 d-flex justify-content-center">
      <div class="col-lg-7 text-center">
        <h1>Our team</h1>
        <h4 class="text-primary">Teamwork makes the dream work</h4>
        <p class="text-muted pt-4">For real though, the people listed below are the salt of the earth and deserve so many pats on the back. They lead meetups, develop project-based presentations, connect with potential partners, answer all sorts of questions, and generally keep this ship afloat. Looking to connect with good, driven, knowledgeable technologists? Look no further.</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      {% for member in site.data.team %}
      <div class="col-md-6 col-lg-4 text-center px-5 pb-5">
        <img loading="lazy" class="mx-auto rounded-circle img-fluid mb-3" style="max-width: 60%;" src="/content/images/team/{{member.image}}" alt="Portrait of {{member.name}}">
        <h5>{{member.name}}</h5>
        <p class="text-muted">{{member.title}}</p>
        <ul class="list-inline social-buttons">
          {% if member.github %}
          <li class="list-inline-item">
            <a href="https://github.com/{{member.github}}" target="_blank" rel="noopener" class="shadow-sm" aria-label="GitHub Page of {{member.name}}">
              <i class="fab fa-github"></i>
            </a>
          </li>
          {% endif %}
          {% if member.website %}
          <li class="list-inline-item">
            <a href="{{member.website}}" target="_blank" rel="noopener" class="shadow-sm" aria-label="Website of {{member.name}}">
              <i class="fas fa-globe"></i>
            </a>
          </li>
          {% endif %}
          {% if member.linkedin %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{member.linkedin}}" target="_blank" rel="noopener" class="shadow-sm" aria-label="LinkedIn profile of {{member.name}}">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Join callout -->
<section id="join-callout" class="bg-purple-convo2">
  <div class="row justify-content-center">
    <div class="col-md-10 text-light text-center">
      <h2>Interested in volunteering and joining our team?</h2>
      <p class="py-4">We think that's great and would love to talk with you!</p>
      <div>
        <a class="btn btn-light btn-lg mb-3 mb-md-0 mr-0 mr-md-3 shadow js-scroll-trigger" href="#contact">Connect</a>
        <a class="btn btn-light btn-lg shadow" href="/volunteer">Learn more</a>
      </div>
    </div>
  </div>
</section>

<!-- Sponsors -->
<section id="sponsors">
  <div class="container-fluid">
    <div class="row pb-5 d-flex justify-content-center">
      <div class="col-lg-11 text-center">
        <h2>These companies and teams have made our efforts possible</h2>
      </div>
      <div class="col-lg-8 text-center">
        <p class="text-muted pt-4">Without the people behind these wonderful initiatives and products we would not be able to support our mission. For this we are greatly thankful and think that you should definitely check them out!</p>
      </div>
    </div>
    <div class="partner-logos">
      <div class="slide"><img src="/content/images/sponsors/base-dark.png" alt="BASE (Birmingham Alabama Software Enthusiasts"></div>
      <div class="slide"><img src="/content/images/sponsors/einsteinbagels-dark.gif" alt="Einstein Bros. Bagels" style="width: 50%;"></div>
      <div class="slide"><img src="/content/images/sponsors/epicenter-dark.png" alt="Epicenter Memphis"></div>
      <div class="slide"><img src="/content/images/sponsors/memtech-dark.gif" alt="Memphis Technology Foundation"></div>
      <div class="slide"><img src="/content/images/sponsors/awaken-dark.gif" alt="Awaken Coffee" style="width: 50%;"></div>
      <div class="slide"><img src="/content/images/sponsors/lehighvalleytech-dark.png" alt="Lehigh Valley Tech" style="width: 50%;"></div>
      <div class="slide"><img src="/content/images/sponsors/codecrew-dark.gif" alt="CodeCrew"></div>
      <div class="slide"><img src="/content/images/sponsors/knoxdevs-dark.gif" alt="KnoxDevs" style="width: 50%;"></div>
      <div class="slide"><img src="/content/images/sponsors/coworkingnight-dark.png" alt="CoWorking Night"></div>
      <div class="slide"><img src="/content/images/sponsors/innovationdepot-dark.png" alt="Innovation Depot"></div>
      <div class="slide"><img src="/content/images/sponsors/themarket-dark.gif" alt="Downtown Allentown Market"></div>
      <div class="slide"><img src="/content/images/sponsors/cals-dark.gif" alt="Central Arkansas Library System"></div>
      <div class="slide"><img src="/content/images/sponsors/universityofmemphis-dark.gif" alt="University of Memphis"></div>
      <div class="slide"><img src="/content/images/sponsors/i85cyber-dark.gif" alt="I85 Cyber Corridor"></div>
      <div class="slide"><img src="/content/images/sponsors/kec-dark.png" alt="Knoxville Entrepreneur Center"></div>
      <div class="slide"><img src="/content/images/sponsors/lbt-dark.png" alt="Learn Build Teach" style="width: 50%;"></div>
      <div class="slide"><img src="/content/images/sponsors/starbucks-dark.gif" alt="Starbucks Coffee" style="width: 50%;"></div>
      <div class="slide"><img src="/content/images/sponsors/theemptycup-dark.png" alt="The Empty Cup"></div>
      <div class="slide"><img src="/content/images/sponsors/mpl-dark.gif" alt="Memphis Public Libraries" style="width: 50%;"></div>
      <div class="slide"><img src="/content/images/sponsors/bor-dark.gif" alt="Birmingham on Rails"></div>
    </div>
  </div>
</section>

<!-- Sponsor -->
<section id="partner" class="bg-light">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center">
        <h1 class="text-primary">Our incredible partner</h1>
        <img src="/content/images/sponsors/memtech-dark.gif" alt="Memphis Technology Foundation" class="img-responsive py-5" style="max-width: 70%;">
        <p class="text-muted">Memphis Technology Foundation is a group of people and 501(c)(3) organization with a diverse interest in technology looking to raise the tech tide in Memphis, TN and beyond.</p>
      </div>
    </div>
    <div class="row pt-5 d-flex justify-content-center">
      <div class="col-lg-8 text-center text-white">
        <a class="btn btn-primary btn-lg shadow mr-lg-3" href="https://memphistechnology.org/about/faqs/" target="_blank" rel="noopener">
          Learn more
        </a>
        <a class="btn btn-primary btn-lg shadow" href="https://memphistechnology.org/donate/" target="_blank" rel="noopener">
          Donate
        </a>
      </div>
    </div>
  </div>
</section>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script defer src="/js/partner-slider.js"></script>
